{% include 'head.html' %}
{% include 'header.html' %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 mb-8 mb-lg-10">
        {% if msg is not none %}
        <div style="background-color: lightgray; border-radius: 20px; padding-left: 20px; border: solid 2px grey">
            {% if msgType == "error" %}
            <h3 style="color: red">Error</h3>
            <p style="color: red">{{ msg }}</p>
            {% else %}
            <h3 style="color: green">Info</h3>
            <p style="color: green">{{ msg }}</p>
            {% endif %}
        </div>
        {% endif %}
        {% if picture is defined %}
        {% if picture[0]['picture'] is none %}
        {% if session['userType'] == "athlete" %}
        <a href="{{ url_for('users.addPicture') }}"><button class="btn btn-outline-success">Add profile picture</button></a>
        
        {% endif %}
        {% else %}
        <div>
            <img style="max-height: 400px;" src="{{ picture[0]['picture'] }}" alt="profile picture"/>
            <a href="{{ url_for('users.editPicture') }}"><button class="btn btn-outline-success">Edit profile picture</button></a>
        </div>
        {% endif %}
        {% endif %}
        <h4 class="text-center">Your Results</h4>
        <div class="overflow-auto p-3 bg-light" style="max-width: auto; max-height: 500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Name</th>
                        <th scope="col">Result</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% if results is not none %}
                    {% for result in results %}
                    <tr>
                        <td>{{ result['date'] }}</td>
                        <td>{{ result['time'] }}</td>
                        <td>{{ result['name'] }}</td>
                        <td>{{ result['result'] }}</td>
                        <td>{{ result['grade'] }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'footer.html' %}